.who-element {
  flex-basis: 18%;
  text-align: center;
  align-items: flex-start;
}
.who-element h2 {
  color: #5e5e5e;
  font-weight: 800;
  font-size: 30px;
}

.who-element p {
  line-height: 1.6;
  padding: auto;
  color: #343434;
  font-size: 20px;
  font-weight: 500;
}
